:root {
  --primary-color: #780000;
  --secondary-color: #c1121f;
  --tertiary-color: #fdf0d5;
  --text-color: #003049;
  --accent-color: #669bbc;
  --color-white: #ffffff;
  --color-black: #000;
  --border-color: #000;
}

/* Global Syles */
.container {
  width: 90%;
  max-width: 1140px;
  margin: 0 auto;
}

.main-header {
  width: 100%;
  background-color: var(--tertiary-color);
}

.main-header .container {
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header__logo-wrapper {
  padding: 20px 70px;
  background-color: var(--accent-color);
}

.main-header__navigation {
  padding: 20px 200px;
  background-color: var(--secondary-color);
}

.main-header__logo-wrapper,
.main-header__navigation {
  border-radius: 100px;
  color: var(--color-white);
}

/* Section Hero Styles */
.section-hero {
  width: 100%;
  min-height: 450px;
  background-color: var(--text-color);
  color: var(--color-white);
  padding: 60px 0;
}

.section-hero .container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 350px;
}

.section-hero__hero-box {
  width: 400px;
  border: 2px dashed var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
}

/* Section Carousel Styles */
.section-carousel {
  width: 100%;
  min-height: 450px;
  background-color: var(--accent-color);
  padding: 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-carousel .container {
  display: flex;
  gap: 20px;
}
.section-carousel__carousel-box {
  flex: 1;
  height: 200px;
  border: 2px dashed var(--border-color);
  background-color: var(--tertiary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-black);
}
